# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and model files
*.xlsx
*.pkl
*.joblib

# Reports and output
*.html

# OS and editor stuff
.DS_Store
Thumbs.db

# Other
*.log
